[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Sphinx = "*"
sphinx-autobuild = "*"

[dev-packages]

[requires]
python_version = "3"

[packages.pydata-sphinx-theme]
git = "https://github.com/yhuang85/pydata-sphinx-theme.git"
editable = true
