.math > .MathJax {
  overflow: initial;
}

.red {
  color: red;
}

.section-number {
  display: none;
}

.bd-main .bd-content .bd-article-container {
  max-width: 100%;  /* default is 60em */
}

.eq-tooltip {
  display: none;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  max-width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.equation-link:hover .eq-tooltip {
  display: block;
}
